:root {
  --main-color: #4153e4;
  --black-1: #000000;
  --black-3: rgba(0, 0, 0, 0.8);
  --white-1: #ffffff;
  --black-2: #363636;
  --blue-1: #f2f2ff;
  --blue-2: #0012a5;
  --gray-1: #ececec;
  --gray-2: #fafafa;
  --gray-3: #dfe2e3;
  --gray-4: #b4bcbd;
  --border-1: 1px solid rgba(114, 114, 114, 0.2);
  --border-2: 1px solid rgba(114, 114, 114, 0.1);
  --animation-time-1: all 0.5s;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter_18pt-Regular.ttf);
}

body {
  font-family: "Inter";
  font-size: 16px;
  margin: 0px;
  /* font-size: 1.111vw; */
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.img {
  width: 100%;
  height: auto;
}

/* .main__but{

} */

@media (min-width: 1240px) {
  .container {
    max-width: 1224px;
    margin: 0 auto;
  }
  .media__inner {
    grid-template-columns: 0.65fr 0.65fr 0.65fr 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-areas:
      "media__title media__title media__title media__mockup"
      "media__videoreview media__comment media__proccess media__mockup"
      "media__actions media__actions media__actions media__mockup"
      ". . . media__mockup";
  }
  .media__mockup > * {
    width: auto;
  }
  .media__title > *:first-child {
    font-size: 32px;
    font-weight: 700;
  }
  .media__title > *:last-child {
    font-size: 20px;
  }
  .footer__main {
    flex-direction: row;
  }
  .footer__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Пока что не трогать */
/* Если у блока два состояния */
@media (max-width: 1240px) {
  .media__title > *:first-child {
    font-size: 20px;
    font-weight: 700;
  }
  .media__title > *:last-child {
    font-size: 18px;
  }
  .footer__main {
    flex-direction: column;
  }
  .container {
    margin: 0 16px;
  }
}
@media (max-width: 1240px) and (min-width: 576px) {
  .media__inner {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-areas:
      "media__title media__title"
      "media__videoreview media__mockup"
      "media__comment media__mockup"
      "media__proccess media__mockup"
      "media__actions media__actions";
  }
  .media__mockup > * {
    height: 100%;
  }
}
/*  */
@media (min-width: 998px) {
  .contact__inner {
    width: 40%;
  }
  .contact__illustration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 52px;
    grid-template-areas:
      "illustration__map illustration__phone"
      "illustration__text illustration__phone"
      "illustration__action illustration__phone";
    row-gap: 10px;
    width: 60%;
  }
  .burger__but {
    display: none;
  }
  .header__actions {
    display: flex;
  }
  .header__content {
    flex-direction: row;
  }
  .header__menu__active,
  .header__menu {
    display: none;
  }
  .header__search__mobile {
    display: none;
  }
  .illustration__arrow {
    z-index: 2;
    position: relative;
    height: 0px;
    width: 0px;
    top: -35px;
    left: -15%;
  }
  .illustration__arrow > img {
    rotate: 0deg;
  }
  .contact__content {
    flex-direction: row;
  }
  .first__map {
    /* min-width: 336px; */
  }
  .illustration__phone {
    display: flex;
    justify-content: end;
  }
  .illustration__but {
    width: 100%;
  }
}
@media (max-width: 998px) {
  .contact__inner {
    width: 100%;
  }
  .contact__content {
    flex-direction: column;
    row-gap: 32px;
  }
  .contact__illustration {
    display: flex;
    flex-direction: column;
  }
  .illustration__phone {
    display: flex;
    justify-content: center;
    order: 3;
  }
  .illustration__action {
    order: 4;
  }
  .header__nav {
    display: none;
  }
  .burger__but {
    display: block;
  }
  .header__actions {
    display: none;
  }
  .header__content {
    flex-direction: column;
  }
  .header__search__mobile {
    margin-top: 8px;
    display: flex;
  }
  .illustration__arrow {
    z-index: 2;
    position: relative;
    height: 0px;
    width: 0px;
    top: 55px;
    left: -60%;
  }
  .illustration__arrow > img {
    rotate: 70deg;
  }
  .illustration__map,
  .illustration__phone {
    margin-bottom: 10px;
  }
  .illustration__text {
    margin-bottom: 80px;
  }
}

@media (min-width: 575px) {
  .actions__inner {
    flex-direction: row;
    column-gap: 24px;
  }
  .media__actions {
    flex-direction: row;
  }
  .header__info {
    column-gap: 50px;
  }
  .media__title {
    margin-bottom: 16px;
  }
  .media__inner {
    row-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 575px) {
  .media__title {
    margin-bottom: 12px;
  }
  .media__actions {
    margin-top: 12px;
    flex-direction: column;
  }
  .header__info {
    column-gap: 12px;
  }
  .header__media {
    display: none;
  }
  .info__content {
    column-gap: 16px;
  }
  .header__number,
  .header__ring {
    font-size: 12px;
  }
  .actions__inner {
    flex-direction: column;
    row-gap: 8px;
  }
  .media__inner {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
      "media__title media__title"
      "media__videoreview media__comment"
      "media__proccess media__mockup"
      "media__actions media__actions";
    row-gap: 12px;
    column-gap: 12px;
  }
  .footer__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 425px) {
  .info__content > .logo {
    min-width: 86px;
  }
  .illustration__but {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .media__videoreview {
    hyphens: auto;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .header__media {
    display: none;
  }
  .info__content {
    column-gap: 16px;
  }
  .title__name > h1 {
    font-size: 1.5rem;
  }
  .title__block {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .title__block {
    margin-bottom: 52px;
  }
  .title__name > h1 {
    font-size: 3.125rem;
  }
  .footer__inner {
    grid-template-columns: repeat(4, 1fr);
  }
  .header__media {
    display: flex;
  }
  .info__content {
    column-gap: 32px;
  }
}
@media (max-width: 768px) and (min-width: 575px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header__search__mobile {
  border: var(--border-2);
  border-radius: 12px;
  color: var(--gray-2);
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px;
  column-gap: 4px;
}

.but__search__mobile {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.search__input__mobile {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
}

.header__menu {
  display: none;
  background-color: var(--white-1);
  height: 0px;
  width: 100%;
  position: fixed;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: all 0.5s;
}

.header__menu__active {
  display: block;
  height: 100vh;
  overflow-y: auto;
}

.menu__inner {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.menu__item {
  font-weight: 600;
  color: var(--black-2);
}

.header__main {
  background-color: var(--gray-2);
  padding: 16px 0px 16px 0px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.info__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__phone {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__number {
  margin-left: 4px;
  margin-right: 8px;
  text-wrap: nowrap;
  font-weight: 500;
}

.arrow__down::after {
  content: url(../img/arrow_down.svg);
}

.header__ring {
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.header__media {
  flex-direction: row;
  column-gap: 8px;
}

.header__media > a {
  max-width: 24px;
}

.header__actions {
  flex-direction: row;
  align-items: center;
}

.header__search {
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--gray-2);
  border-radius: 12px;
  border: var(--border-1);
  margin-right: 16px;
  transition: all 0.5s;
}

.search__input {
  background-color: var(--gray-2);
  outline: none;
  border: none;
  padding: 0px;
  width: 0px;
}

.but__search {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.header__search:hover > .search__input {
  width: auto;
  max-width: auto;
  padding-left: 4px;
}

.header__search:hover {
  width: auto;
}

.but__market {
  background-color: var(--blue-1);
  font-weight: 600;
  color: var(--main-color);
  padding: 16px 24px 16px 24px;
  border: none;
  border-radius: 12px;
  margin-right: 8px;
  transition: var(--animation-time-1);
}

.but__market::after {
  content: "⬈";
  color: var(--main-color);
}

.but__cost {
  border: none;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: var(--main-color);
  font-weight: 600;
  color: var(--white-1);
  transition: var(--animation-time-1);
  cursor: pointer;
}

.but__market:hover {
  color: var(--white-1);
  background-color: var(--main-color);
}

.but__market:hover::after {
  color: var(--white-1);
}

.but__main__active:hover {
  background-color: var(--blue-2);
}

.but__blue__active:hover {
  color: var(--white-1);
  background-color: var(--main-color);
}

.but__blue__active:hover::after {
  color: var(--white-1);
}

.header__nav {
  border-top: var(--border-2);
  border-bottom: var(--border-2);
}

.nav__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 16px 0px 16px 0px;
}

.nav__item {
  color: var(--black-2);
  font-weight: 600;
  cursor: pointer;
}

.nav__item:hover {
  color: var(--main-color);
}

.nav__item__active {
  color: var(--main-color);
}

.header__modal {
  position: absolute;
  background-color: var(--gray-2);
  border: 1px solid var(--gray-1);
  border-radius: 16px;
  padding: 24px 24px 24px 24px;
  display: none;
  flex-direction: column;
  row-gap: 16px;
  top: 45px;
  z-index: 4;
}

.modal__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item__title {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.modal__item:nth-child(n + 2) > .item__title > span {
  font-size: 14px;
  font-weight: 600;
}

.item__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-2);
}

.header__modal__active {
  display: flex;
}

#modal__overlay {
  display: none;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* burger__but */

/* .burger__but {
  background-color: transparent;
  border: none;
} */

.burger__but {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 34px;
  height: 26px;
}
.burger__but::after,
.burger__but::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--main-color);
}
.burger__but::before {
  top: 0;
  box-shadow: 0 11px 0 var(--main-color);
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger__but::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger__but__active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger__but__active::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

/* burger__but */

.contact__block {
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: var(--white-1);
}

.title__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.title__bread_crumbs {
  color: var(--black-3);
  font-size: 14px;
}

.title__bread_crumbs > *:nth-child(2n) {
  font-weight: 700;
}

.title__name {
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
}

.contact__content {
  display: flex;
  column-gap: 40px;
}

.contact__inner {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.contact__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contact__title {
  font-size: 20px;
}

.contact__text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.contact__text > img {
  max-width: 24px;
  margin-right: 3px;
}

.contact__text > .contact__map {
  text-decoration: underline;
  color: var(--main-color);
}

.illustration__map {
  grid-area: illustration__map;
}

.first__map {
  border-radius: 9px;
  overflow: hidden;
  max-height: 225px;
}

.first__map > * {
  width: 100%;
}

.illustration__text {
  grid-area: illustration__text;
  display: flex;
  flex-direction: row;
  background-color: var(--blue-1);
  padding: 24px;
  column-gap: 16px;
  border-radius: 24px;
}

.illustration__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.illustration__content > :first-child {
  font-size: 20px;
}

.border__left {
  background-color: var(--main-color);
  height: auto;
  width: 8px;
  border-radius: 10px;
}

.illustration__action {
  grid-area: illustration__action;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  align-items: center;
}

.illustration__but {
  cursor: pointer;
  transition: all 0.5s;
  /* width: 100%; */
  padding: 16px 24px;
  background-color: var(--main-color);
  color: var(--white-1);
  font-weight: 600;
  border: none;
  border-radius: 12px;
}

.illustration__phone {
  grid-area: illustration__phone;
}

.phone__block {
  position: relative;
  top: 0px;
  left: -10px;
  box-shadow: 0px 2.93px 39.11px 5.87px #00000033;
  rotate: 2deg;
  overflow: hidden;
  max-width: 220px;
  max-height: 437px;
  border-radius: 16px;
}

.block__actions {
  border-bottom: var(--gray-1) 1px solid;
  border-top: var(--gray-1) 1px solid;
  background-color: var(--blue-1);
}

.actions__inner {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
}

.actions__but {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--white-1);
  border: none;
  border-radius: 12px;
  width: 100%;
  background-color: var(--main-color);
  padding-top: 16px;
  padding-bottom: 16px;
  transition: all 0.5s;
  cursor: pointer;
}

.block__media {
  background-color: var(--gray-2);
  padding-top: 60px;
  padding-bottom: 66px;
}

.media__title {
  grid-area: media__title;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: var(--black-2);
}

.media__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.media__inner {
  display: grid;
  /* tablet */
  /* tablet */
  /* mobile */
  /* grid-template-areas: "media__videoreview media__comment" "media__proccess media__mockup"; */
  /* mobile */
  flex-direction: row;
  flex-wrap: wrap;
}

.media__inner > *:nth-child(n + 2):nth-last-child(n + 3) {
  color: var(--white-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: var(--main-color);
  border-radius: 16px;
  padding: 12px;
  text-align: center;
}
.media__item > *:last-child {
  text-align: center;
}

.media__mockup {
  grid-area: media__mockup;
  position: relative;
  display: flex;
  align-items: center;
}

.media__mockup > * {
  object-fit: contain;
  position: absolute;
  right: 0;
  max-width: 510px;
  min-width: 240px;
  min-height: auto;
}

.mockup__block {
  position: relative;
  height: 0px;
  width: 0px;
}

.media__actions {
  /* margin-top: auto; */
  grid-area: media__actions;
  display: flex;
  row-gap: 8px;
  column-gap: 16px;
}

.media__but {
  border: 1px solid var(--gray-1);
  border-radius: 16px;
  background-color: var(--blue-1);
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  color: var(--main-color);
  font-weight: 600;
}

.media__but::after {
  content: "⬈";
  color: var(--main-color);
}

.media__videoreview {
  grid-area: media__videoreview;
}

.media__comment {
  grid-area: media__comment;
}

.media__proccess {
  grid-area: media__proccess;
}

.footer {
  background-color: var(--gray-2);
  border-top: var(--border-1);
}

.footer__main {
  display: flex;
  row-gap: 41px;
  column-gap: 41px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.feedback__card {
  background-color: var(--white-1);
  display: flex;
  flex-direction: column;
  padding: 24px;
  row-gap: 24px;
  justify-content: flex-start;
  border-radius: 24px;
}

.feedback__logo {
  max-width: 140px;
  width: 100%;
}

.feedback__text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.feedback__title > * {
  color: var(--black-1);
  font-size: 16px;
  font-weight: 600;
}

.feedback__subtitle > * {
  color: var(--black-2);
  font-size: 14px;
  font-weight: 400;
}

.feedback__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.feedback__form > *:first-child {
  border: 1px solid var(--gray-3);
  border-radius: 10px;
  background-color: var(--white-1);
  color: var(--gray-4);
  padding: 15px 10px;
}

.feedback__checkbox {
  column-gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 11px;
}

.feedback__checkbox > *:first-child {
  appearance: none;
  max-width: 20px;
  width: 100%;
  height: 20px;
  background: var(--main-color);
  border-radius: 4px;
  transition: 0.5s;
  position: relative;
  margin: 0px;
}

.feedback__checkbox > *:first-child::after {
  display: none;
  content: "\2714";
  position: absolute;
  top: 0;
  left: 5px;
  color: var(--white-1);
}

.feedback__checkbox > *:first-child:checked::after {
  display: block;
  transition: 500ms;
}

.feedback__checkbox > *:last-child {
  display: flex;
  width: auto;
}

.feedback__text__active {
  text-decoration: underline;
  color: var(--main-color);
}

.feedback__but {
  background-color: var(--main-color);
  padding: 12px 20px;
  color: var(--white-1);
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.feedback__juridical {
  color: var(--main-color);
  font-size: 10px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__inner {
  display: grid;

  row-gap: 24px;
}

.footer__inner > * {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__inner > * > *:first-child {
  color: var(--black-1);
  font-weight: 600;
  font-size: 16px;
}

.item__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 14px;
  color: var(--black-2);
}

.item__content > * {
  cursor: pointer;
}
.item__content > *:hover {
  transition: 0.5s;
  color: var(--main-color);
}

.footer__subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 14px;
}

.footer__subtitle > *:first-child {
  color: var(--black-2);
  font-weight: 600;
}

.footer__subtitle > .subtitle__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.footer__juridical > *:last-child {
  text-decoration: underline;
}
.footer__juridical {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 10px;
  color: var(--black-2);
}
